@import "datatables.net-bs4";
@import "datatables.net-buttons-bs4";
@import "datatables.net-responsive-bs4";
@import "datatables.net-scroller-bs4";
@import 'flatpickr';
@import "select2";
@import "font-awesome";

//Optional Text Editors
//@import "plugins/froala";
@import "plugins/summernote";


label.required:after {  content:"* required"; color: red;font-size: smaller; font-weight: bold}
.consent-content ul li {line-height: 1.55}

.consent-toggle {
  margin-top: 40px;
  padding: 1rem;
  width: fit-content;

  &.optional {
    border: 2px dotted #fcb47e;
  }
  &.mandatory {
    border: 2px dotted #b91c1c;
  }

}

div.dataTables_wrapper {

  div.dataTables_filter {
    text-align: left;
  }

  div.dataTables_filter input {
    margin-left: 0;
  }

  #dt_consent_options_datatables.dataTable td {
    padding: 0.75rem 0 !important;
  }
}