

//Optional Text Editors
//@import "plugins/froala";
@import "plugins/summernote";


label.required:after {  content:"* required"; color: red;font-size: smaller; font-weight: bold}
.consent-content ul li {line-height: 1.55}

.consent-toggle {
  margin-top: 40px;
  padding: 1rem;
  width: fit-content;

  &.optional {
    border: 2px dotted #fcb47e;
  }
  &.mandatory {
    border: 2px dotted #b91c1c;
  }

}

div.dataTables_wrapper,
div.dataTables_wrapper.dt-bootstrap5 {

  div.dataTables_filter {
    text-align: left!important;
  }

  div.dataTables_filter input {
    margin-left: 0;
  }

  #dt_consent_options_datatables.dataTable td {
    padding: 0.75rem 0 !important;
  }
}

div.dataTables_wrapper.dt-bootstrap5 div.dataTables_processing {
  font-size: 1.25rem !important;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: auto;
  padding: 1em;
  margin-left: 0;
  margin-top:0;
  text-align: center;
  opacity: 0.8;
}
div.dataTables_wrapper div.dataTables_filter input {
  margin-left: 0!important;}